// Editable items get pointer cursor if me.isSuperAdmin
body[data-issuperadmin="true"] {
  .editable {
    cursor: pointer;
  }
}

// Choices overrides
.choices__inner {
  border-radius: 0.25rem!important;
}
.choices__list--multiple .choices__item {
  border-radius: 0.25rem!important;
  border: none!important;
  background-color: @blue!important;
  color: @black!important;
  &.is-highlighted {
    background-color: darken(@blue, 5%)!important;
  }
}

// Label notes
label {
  em {
    font-size: 14px;
    font-style: normal;
    opacity: 0.5;
  }
}

// Specific styles for all projects page
#all-projects {
  ul {
    list-style: none;
    padding-left: 0;

    @media (min-width: @breakpoint-md) {
      padding-left: 2em;
    }
  }

  .clients-list {
    padding: 20px 0;
    h2 {
      margin: 30px 0 10px;
    }
    h4 {
      a {
        .inline-link;
        // color: @black;
      }
    }
    >li:nth-child(1) {
      h2 {
        margin-top: 0;
      }
    }
  }

}
