// Editable items get pointer cursor if me.isSuperAdmin
body[data-issuperadmin="true"] {
  .editable {
    cursor: pointer;
  }
}

// Label notes
label {
  em {
    font-size: 11px;
    font-style: normal;
    opacity: 0.5;
  }
}

// Specific styles for all projects page
#all-projects {
  .container {
    padding: 60px 0;
  }

  ul {
    list-style: none;
  }

  .projects-list {
    h2 {
      margin: 30px 0 10px;
    }
    >li:nth-child(1) {
      h2 {
        margin-top: 0;
      }
    }
  }

}
