// Tooltips
.tooltip {
  .small-caps;
  .tooltip-inner {
    background: @black;
    color: @white;
  }
}

// Show datepicker above modal overlay
#ui-datepicker-div {
  z-index: 2000 !important;
}
.stage-wrap {
  position: relative;
  ol.stages {
    margin-right: 30px;
  }
}
.stage-dots {
  float: right;
  width: 20px;
  position: sticky;
  top: 50px;
  right: 10px;
  margin: 10px 0 0 -5px;

  @media (min-width: @breakpoint-sm) {
    margin-right: -80px;
  }

  @media (min-width: @breakpoint-md) {
    margin-right: -150px;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 5px;
      margin-bottom: 10px;
      a {
        display: block;
        width: 12px;
        height: 12px;
        border: 1px solid @black;
        border-radius: 50%;
      }
      &.current-stage a {
        background: @black;
      }
      &.not-started a {
        border-color: @not-started;
      }
    }
  }
}

// Status colors
[data-status="Ready for Review"] {
  .tooltip-inner,
  .status span {
    background: @ready-for-review !important;
    color: @white;
  }
  .arrow::before {
    border-bottom-color: @ready-for-review !important;
    border-top-color: @ready-for-review !important;
  }
}
[data-status="Completed"] {
  .tooltip-inner,
  .status span {
    background: @completed;
  }
  .arrow::before {
    border-bottom-color: @completed !important;
    border-top-color: @completed !important;
  }
}
[data-status="Approved"] {
  .tooltip-inner,
  .status span {
    background: @approved;
  }
  .arrow::before {
    border-bottom-color: @approved !important;
    border-top-color: @approved !important;
  }
}
[data-status="In Progress"] {
  .tooltip-inner,
  .status span {
    background: @in-progress;
  }
  .arrow::before {
    border-bottom-color: @in-progress !important;
    border-top-color: @in-progress !important;
  }
}
[data-status="Not Started"] {
  .date,
  .title {
    color: @not-started;
  }
  .tooltip-inner,
  .status span {
    background: @not-started;
    color: @white;
  }
  .arrow::before {
    border-bottom-color: @not-started !important;
    border-top-color: @not-started !important;
  }
}

#single-project {

  // Actions div at bottom of single project page (just for Presentation Mode toggle right now)
  .actions {
    margin-top: 60px;
    label {
      color: @gray;
      font-size: 14px;
    }
    input.presentation-mode {
      margin-right: 5px;
    }
  }

  header.main {
    // Line up title with stages
    .title {
      @media (min-width: @breakpoint-sm) {
        padding-left: 50px;
      }
      @media (min-width: @breakpoint-md) {
        padding-left: 55px;
      }
    }
  }

  .container {
    // Presentation Mode toggled on, hide buttons and make all text black
    &.presentation-mode {
      .-admin-button,
      .add-button {
        display: none;
      }
      [data-status="Not Started"] .date,
      [data-status="Not Started"] .title,
      ol.stages > li.not-started:before,
      ol.stages > li.not-started {
        color: @black;
      }
    }
  }

  ul {
    list-style: none;
  }

  // Stages list
  ol.stages {
    list-style-type: none;
    padding: 0;
    margin: 40px 15px 60px 0;

    @media (min-width: @breakpoint-sm) {
      padding: 0 0 0 15px;
      margin: 40px 0 60px 20px;
      border-left: 1px solid @black;
    }
    @media (min-width: @breakpoint-md) {
      margin: 60px 0;
      padding-left: 38px;
    }

    > li {
      counter-increment: customlistcounter;
      position: relative;
      padding: 30px 0 10px 0px;

      @media (min-width: @breakpoint-md) {
        padding-top: 50px;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      >h2 {
        padding: 8px 12px 8px 30px;

        @media (min-width: @breakpoint-sm) {
          padding: 8px 12px;
        }
      }
      a {
        color: @black;
        text-decoration: underline;
      }
      .task {
        display: flex;
        > div {
          vertical-align: middle;
        }
        padding: 5px;

        @media (min-width: @breakpoint-sm) {
          padding: 15px;
          border: 1px solid rgba(0,0,0,0);
          border-radius: 50px;
          vertical-align: bottom;
          transition: box-shadow 0.2s;

          &:hover {
            cursor: pointer;
            border: 1px solid rgba(0,0,0,0.1);
            box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.2);
          }

        }

        .title {}
        .date {
          .small-caps;
          font-weight: bold;
          min-width: 90px;
        }
        .status {
          span {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 2px 10px 5px;
          }
        }
      }

      &.not-started {
        color: @not-started;
        &:before {
          color: @not-started;
        }
      }

      // Style OL counter
      &:not(.sortable-drag)::before {
        content: counter(customlistcounter) " ";
        .h2;
        position: absolute;
        padding: 8px;
        left: -0.35em;
        width: 1em;
        min-width: 32px;
        text-align: center;

        @media (min-width: @breakpoint-sm) {
          left: -1.35em;
          background: @white;
        }
      }

      &:first-child {
        counter-reset: customlistcounter;
      }

      > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

}
