// Tooltips
.tooltip {
  .small-caps;
  .tooltip-inner {
    background: #fff;
    color: @black;
  }
}

// Show datepicker above modal overlay
#ui-datepicker-div {
  z-index: 2000 !important;
}

// Status colors
[data-status="Ready for Review"] {
  .tooltip-inner,
  .status {
    background: #E5DBFF !important;
  }
  .arrow::before {
    border-bottom-color: #E5DBFF !important;
    border-top-color: #E5DBFF !important;
  }
}
[data-status="Approved"] {
  .tooltip-inner,
  .status {
    background: #A3E2B1;
  }
  .arrow::before {
    border-bottom-color: #A3E2B1 !important;
    border-top-color: #A3E2B1 !important;
  }
}
[data-status="In Progress"] {
  .tooltip-inner,
  .status {
    background: #FED99E;
  }
  .arrow::before {
    border-bottom-color: #FED99E !important;
    border-top-color: #FED99E !important;
  }
}
[data-status="Not Started"] {
  .date,
  .title {
    color: @disabled;
  }
  .tooltip-inner,
  .status {
    background: @disabled;
  }
  .arrow::before {
    border-bottom-color: @disabled !important;
    border-top-color: @disabled !important;
  }
}

#single-project {

  .container {
    padding: 60px 0;
  }

  ul {
    list-style: none;
  }

  // Stages list
  ol.stages {
    list-style-type: none;
    margin: 0 0 0 50px;
    @media (min-width: 768px) {
      margin: 0;
    }
    border-left: 1px solid @black;
    > li {
      counter-increment: customlistcounter;
      position: relative;
      padding: 0 0 10px 0px;
      &:last-child {
        padding-bottom: 0;
      }
      >h2 {
        padding: 8px 12px;
      }
      a {
        color: @black;
        text-decoration: underline;
      }
      .task {
        padding: 15px;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 50px;
        vertical-align: bottom;
        transition: box-shadow 0.2s;
        span {
          display: inline-block;
          vertical-align: middle;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid rgba(0,0,0,0.1);
          box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.2);
        }
        .title {
        }
        .date {
          .small-caps;
        }
        .status {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          vertical-align: middle;
          margin: 0 5px 0 3px;
        }
      }

      &.not-started {
        color: @disabled;
        &:before {
          color: @disabled;
        }
      }

      // Style OL counter
      &:before {
        content: counter(customlistcounter) " ";
        .h2;
        width: 1em;
        position: absolute;
        left: -1.35em;
        text-align: center;
        background: #fff;
        padding: 8px;
      }
      &:first-child {
        counter-reset: customlistcounter;
      }

      > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

}
