#all-secrets {
  .secrets-list {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      + li {
        margin-top: 2em;
      }
    }
    textarea {
      background: #F2F2F0;
      border: 0;
      padding: 10px;
      margin: 0.5em 0;
    }
  }
  .copy-to-clipboard {
    &.-success {
      &::before {
        content: '✓ ';
      }
    }
  }
}
