<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2 style="margin-bottom: 25px;">Hello</h2>
<p style="margin-bottom: 25px;">We’ve received a new secret from <%= name %> <% if (email) { %>&lt;<%= email %>&gt;<% } %></p>
<div style="text-align: center;">
  <a style="background-color: #313032; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 25px 10px; font-weight: 500; text-decoration: none; border-radius: 5px;" href="<%= url.resolve(sails.config.custom.baseUrl,'/secrets') %>">View Secrets</a>
</div>
