<div id="all-users" v-cloak>
  <header class="main">
    <div class="container">
      <div class="title d-flex justify-content-between align-items-end">
        <h2>Users</h2>
        <div>
          <button @click="clickAddUser()" class="btn btn-dark btn-sm">Add User</button>
          &nbsp;
          <label><input v-model="viewArchived" type="checkbox"> View Archived</label>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div v-if="successAlert" class="alert alert-success alert-dismissable">
      <a @click="clickResetAlert()" href="#" class="close" aria-label="close">&times;</a>
      {{ successAlert }}
    </div>

    <table class="table user-list">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Admin</th>
          <th scope="col">Last Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" @click="clickEditUser(user.id)" class="user-row" v-if="user.archived == viewArchived" v-cloak>
          <td>{{ user.fullName }}</td>
          <td>{{ user.emailAddress }}</td>
          <td>{{ user.isSuperAdmin ? '&check;' : '' }}</td>
          <td>{{ user.lastSeenAtHumanDate }}</td>
        </tr>
      </tbody>
    </table>

    <div class="actions mt-4">
      <button @click="clickAddUser()" class="btn btn-dark">Add User</button>
    </div>
  </div>

  <% /* Edit User modal */ %>
  <modal class="mdl" v-if="editUserModalOpen" v-cloak key="user" @close="closeEditUserModal()">

    <div class="modal-header">
      <h5 class="modal-title">Edit User</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>

    <ajax-form action="updateUser" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="parseForm" @submitted="submittedForm($event)">
      <div class="modal-body">
        <div class="form-group mt-2">
          <label>Full Name</label>
          <input class="form-control" type="text" v-model="formData.fullName" :class="[formErrors.fullName ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.fullName">Please enter a valid name.</div>
        </div>

        <div class="form-group mt-2">
          <label>Email</label>
          <input class="form-control" type="text" v-model="formData.emailAddress" :class="[formErrors.emailAddress ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email.</div>
        </div>

        <div class="form-group mt-2">
          <label>Update Password</label>
          <input class="form-control" type="text" v-model="formData.newPassword" :class="[formErrors.newPassword ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.newPassword">Please enter a valid password for this user.</div>
        </div>

        <div class="form-group mt-2">
          <div class="row">
            <div class="col-sm-6">
              <label><input type="checkbox" value="1" v-model="formData.isSuperAdmin"> Admin user</label>
            </div>
            <div class="col-sm-6">
              <label><input type="checkbox" value="1" v-model="formData.archived"> Archived</label>
            </div>
          </div>
        </div>

        <div class="form-group mt-2">
          <label><strong>Clients</strong></label>
          <div class="field-wrap">
            <select class="choices" multiple="true" v-model="formData.client_ids">
              <option
                v-for="client in clients"
                :value="client.id">
                {{ client.title }}
              </option>
            </select>
          </div>
        </div>

        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'">There is already an account using that email address.</p>
        <p class="text-danger" v-if="cloudError">An error occured while processing the form.</p>
      </div>
      <div class="modal-footer flex-row-reverse">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark ml-1">Save</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-info mr-1">Cancel</button>
        <button class="mr-auto btn btn-danger" @click="clickDestroyUser(formData.id)">Delete</button>
      </div>
    </ajax-form>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
