<div id="add-secret" v-cloak>
  <div class="container">
    <h1 class="text-center">Share Secret</h1>
    <div class="secret-form" v-if="!cloudSuccess">
      <p class="text-center">Type or paste in the credentials you'd like to share.</p>
      <hr/>
      <ajax-form action="addSecret" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label>Content</label>
          <textarea rows="8" name="content" class="form-control" :class="[formErrors.content ? 'is-invalid' : '']" v-model.trim="formData.content" focus-first></textarea>
          <div class="invalid-feedback" v-if="formErrors.content">Please enter something to share.</div>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="name" name="name" class="form-control" :class="[formErrors.name ? 'is-invalid' : '']" v-model.trim="formData.name">
          <div class="invalid-feedback" v-if="formErrors.name">Please enter your name.</div>
        </div>
        <div class="form-group">
          <label>Email <em>(optional)</em></label>
          <input type="email" name="email" class="form-control" :class="[formErrors.email ? 'is-invalid' : '']" v-model.trim="formData.email">
          <div class="invalid-feedback" v-if="formErrors.email">Please enter a valid email address.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Submit</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message text-center" v-if="cloudSuccess">
      <p>Success! We've securely stored your secret. An email was sent to our team to take a look.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
