<div id="all-projects" class="project" v-cloak>
  <header>
    <div class="title">
      <h2>Project Hub</h2>
    </div>
  </header>

  <div class="container">
    <ul class="projects-list">
      <li v-for="client in clients">
        <h2 class="editable" @click="clickEditClient(client.id)" >{{ client.title }}</h2>
        <ul>
          <li v-for="project in client.projects">
            <h4><a :href="'/projects/' + project.id">{{ project.title }}</a></h4>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <% /* Edit Client modal */ %>
  <modal class="mdl" v-if="editClientModalOpen && selectedClient" v-cloak key="Client" @close="closeEditClientModal()">

    <div class="modal-header">
      <h5 class="modal-title">Edit Client</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>

    <ajax-form action="updateClient" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="parseForm" @submitted="submittedForm($event)">
      <div class="modal-body">
        <div class="form-group mt-2">
          <label>Title</label>
          <input class="form-control" type="text" v-model="formData.title" :class="[formErrors.title ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.title">Please enter a valid title.</div>
        </div>

        <div class="form-group mt-2">
          <label>Users</label>
          <div class="field-wrap">
            <div v-for="user in users" class="form-check">
              <label class="form-check-label">
                <input v-model="formData.user_ids" class="form-check-input" type="checkbox" :value="user.id">
                {{ user.fullName }} - {{ user.emailAddress }}
              </label>
            </div>
          </div>
        </div>

        <p class="text-danger" v-if="cloudError"><small>An error occured while processing the form.</small></p>
      </div>
      <div class="modal-footer  flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Save</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
