<div id="all-projects" class="project" v-cloak>
  <header class="main">
    <div class="container">
      <div class="title">
        <h2>Project Hub</h2>
      </div>
    </div>
  </header>

  <div class="container">
    <div v-if="clients.length == 0" class="text-center">
      Your account hasn't been assigned a client yet.
    </div>
    <ul class="clients-list">
      <li v-for="client in clients">
        <h2 class="editable client" @click="clickEditClient(client.id)">{{ client.title }}</h2>
        <ul class="projects-list">
          <li v-for="project in client.projects" class="project-item" :data-id="project.id">
            <h4><a :href="'/projects/' + (project.slug ? project.slug : project.id)">{{ project.title }}</a></h4>
          </li>
          <button v-if="me.isSuperAdmin" class="add-button" @click="clickAddProject(client.id)">+ Add Project</button>
        </ul>
      </li>
      <button v-if="me.isSuperAdmin" class="add-button mt-4" @click="clickAddClient()">+ Add Client</button>
    </ul>
  </div>

  <% /* Edit Client modal */ %>
  <modal class="mdl" v-if="editClientModalOpen && selectedClient" v-cloak key="Client" @close="closeEditClientModal()">

    <div class="modal-header">
      <h5 class="modal-title">Edit Client</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>

    <ajax-form action="updateClient" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="parseForm" @submitted="submittedForm($event)">
      <div class="modal-body">
        <div class="form-group mt-2">
          <label>Title</label>
          <input class="form-control" type="text" v-model="formData.title" :class="[formErrors.title ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.title">Please enter a valid title.</div>
        </div>

        <div class="form-group mt-2">
          <label>Users</label>
          <div class="field-wrap">
            <select
                  class="choices"
                  multiple="true"
                  v-model="formData.user_ids"
                  >
                  <option
                    v-for="user in users"
                    :value="user.id">
                    {{ user.fullName }} - {{ user.emailAddress }}
                  </option>
            </select>
          </div>
        </div>

        <p class="text-danger" v-if="cloudError"><small>An error occured while processing the form.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark ml-1">Save</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-info mr-1">Cancel</button>
        <span class="mr-auto btn btn-danger" @click="clickDestroyClient(formData.id)">Delete</span>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
